@font-face {
  font-family: 'Sofia Pro Semi';
  src: url('/fonts/SofiaProSemiBold.eot');
  src: local('Sofia Pro Semi Bold'), local('SofiaProSemiBold'),
      url('/fonts/SofiaProSemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('/fonts/SofiaProLight.eot');
  src: local('Sofia Pro Light'), local('SofiaProLight'),
      url('/fonts/SofiaProLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Sofia Pro';
  src: url('/fonts/SofiaProRegular.eot');
  src: local('Sofia Pro Regular'), local('SofiaProRegular'),
      url('/fonts/SofiaProRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('/fonts/SofiaProMedium.eot');
  src: local('Sofia Pro Medium'), local('SofiaProMedium'),
      url('/fonts/SofiaProMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('/fonts/SofiaProBold.eot');
  src: local('Sofia Pro Bold'), local('SofiaProBold'),
      url('/fonts/SofiaProBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('/fonts/SofiaProBlack.eot');
  src: local('Sofia Pro Black'), local('SofiaProBlack'),
      url('/fonts/SofiaProBlack.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('/fonts/SofiaProUltraLight.eot');
  src: local('Sofia Pro UltraLight'), local('SofiaProUltraLight'),
      url('/fonts/SofiaProUltraLight.eot?#iefix') format('embedded-opentype'),
      url('/fonts/SofiaProUltraLight.woff2') format('woff2'),
      url('/fonts/SofiaProUltraLight.woff') format('woff'),
      url('/fonts/SofiaProUltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}