@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fonts";
body, *{
  font-family: "Sofia Pro";
  color: white;
}

.gallery .swiper-wrapper{
  margin-left: -16%!important;
  @media(min-width: 744px){
    margin-left: -2.688%!important;
  }
  @media(min-width: 1024px){
    margin-left: 10.763%!important;
  }
  @media(min-width: 1920px){
    margin-left: 0!important;
  }
}

.portableText ul{
  list-style: disc;
  padding-left: 22px;
}

@media(min-width: 1440px){
  .portableText ul{
    padding-left: 1.527vw;
  }
}

.member-gradient{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
}

.swiper-button-disabled{
  opacity: 0.5!important;
}

.cookie{

  position: fixed;
  z-index: 99999;
  background-color: #0C0A06;
  width: 100%;
  color: #0C0A06;
  display: flex;
  flex-direction: column;
  @apply space-y-5;
  @media(min-width:768px){
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    @apply space-y-0;
  }

  padding: 20px;
  padding-bottom: 32px;

  @apply px-4 md:px-[3.35%];
  .cookieContent{
    @apply text-base text-[#DEDEDE] font-light;
  }
  .cookieContent p, .cookieContent a{
    @apply text-base text-[#DEDEDE] font-light;
  }
  .CookitButtonsWrapper{
    @apply flex space-x-reverse space-x-5 items-center text-[#DEDEDE];
  }
  .cookieButton{
    @apply text-base order-1 leading-[18px] text-[#DEDEDE] text-center font-light cursor-pointer;
  }
  .cookieDeclineButton{
    @apply text-base order-2 leading-[18px] text-[#DEDEDE] text-center font-light cursor-pointer;
  }
}